h2 {
    margin: 2%;
    text-align: center;
    font-size: 110%;
    font-family: Bradley Hand, cursive;
    color: #4e4e4e;
    font-size: 150%;
}

p {
    margin: 2%;
    text-align: center;
    font-size: 110%;
    font-family: Bradley Hand, cursive;
    color: #4e4e4e;
}

input {
    margin: 1%;
    font-size: 110%;
    font-family: Bradley Hand, cursive;
    margin: 0 auto;
    display: block;

}

.divaf {
    margin-top: 5%;
    height: 470px;
}

