.im {
    width: 50%;
    /* height: 50%; */
    padding: 1%;
    margin: auto auto auto 20% ;
    /* margin-top: 2%; */
 
}

#slog {
	size: 3vw;
	font-weight: 300;
	font-size: xx-large;
	text-align: -webkit-center;
	width: 100%;
}


.gif {
    width: 85%;
    height: 40%;;
    margin: 0 auto;
    margin-top: 2%;
    display: inline-block;
    }

.text {
    font-size: 110%;
    padding-top: 5%;
    /* background-color: rgb(150, 29, 29); */
    text-align: center;
    vertical-align: top;
    color: rgb(36, 35, 35);
}


.tabl {
    border-radius: 50px;
    background-color: #eaeaea;
    padding: 5%;
    margin-bottom: 0%;
    min-width: ce;
    box-shadow: -30px -30px 80px #d1d1d1, 30px 30px 80px rgba(26, 24, 99, 0.1);
    
    
}

.p {
    font-size: 240%;
}

.row {
    margin-bottom: 5%;
}

.card {
    margin-left: 0%;
    background: repeating-linear-gradient(45deg, #e7e250, #e731a6a6 800px);
    border: outset 5px #f5d9d9;
}


.card:hover {
  background:repeating-linear-gradient(45deg, #e7e250, #e731a6a6 800px);
  box-shadow:
  1px 1px #abacab,
  2px 2px #abacab,
  3px 3px #abacab,
  4px 4px #abacab,
  5px 5px #abacab;
  cursor: pointer;
-webkit-transform: translateX(-7px);
transform: translateX(-7px);
}

.card-img-top {
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
}



#slider {
    width: 100%;
    margin: 0 auto;
    border: 0px solid transparent;
    padding: 0% 0% 1% 0%;
    z-index: 100;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    /* height: 100%; */
  }
  #slider > li {
    width: 100%;


    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    transition: all 1s cubic-bezier(0.4, 1.3, 0.65, 1); /* Slide css animation */
    background-size: cover;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
    background: repeating-linear-gradient(90deg, #e7e250, #f6aaff 3000px);
  }

  .slider-photo {
    display: inline-block;
    width: 100%;
    min-width: 60%;
  }

  .slider-photos {
    display: inline-block;
    width: 100%;
    padding: 0 25% 0 25%;
  }

  .slider-text {
    font-family: Bradley Hand, cursive;
    font-size:4vw;
    font-weight: 400;
    text-align: center;
}

.slider-text2 {
    font-family: Bradley Hand, cursive;
    font-size:4vw;
    font-weight: 500;
    color: #222222a6;
    white-space: nowrap;
    text-align: center;
    margin: 5% 0% 0% 0%;
    
}

.c {
    margin-top: 1%;
    background: repeating-linear-gradient(90deg, #e7e250, #f6aaff 3000px);
}



@media (min-width: 0px) and (max-width: 958px) { 
.slider-photos {
    display: block;
    width: 100%;
    min-width: 80%;
    padding: 0 10% 0 10%;
  }

  .slider-photo {
    display: block;
    width: 100%;
    min-width: 100%;
  }

}
