{% extends "layout/basic.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
  href="{% static 'app_1/kind_of_studing.css'%}">
  <script src="{% static 'app_1/js/kind_of_studing.js' %}"></script>
{% endblock %}


{% block content %}


<div>
  <h4 class="_2Jzp1 _2A_oF _3AZQf">Достижения</h4>
</div>

  <div id="container">
    <div id="stroka" style="margin-top: 2%">
        <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/awards/com_1.webp'%}">
                <figcaption>
              <h3>Конкурс проектов<br><span>29.03.21</span></h3>
              <p>Конкурс Ассоциации Развития Возобновляемой Энергетики «ВОЗОБНОВЛЯЕМАЯ ЭНЕРГИЯ ПЛАНЕТЫ-2020».
                Диплом I степени(г.Москва)
              </p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/awards/public_1.webp' %}">
                <figcaption>
              <h3>Конференция<br><span>24.06.21</span></h3>
              <p>Школьная августовская педагогическая конференция(лицей Прогресс ЖК Царево)
              </p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/awards/com_2.webp'%}">
                <figcaption>
                  <h3>Соревнования<br><span>12.02.22</span></h3>
              <p>Школьные соревнования по робототехнике VEX и LEGO WeDO<br>
                3-4 класс<br>
                I Толщаков Руслан<br>
                II Абрамов Дмитрий<br>
                III Струков Виталий<br>
                1-2 класс<br>
                I Конькин Арсений<br>
                II Дадашев Микаил<br>
                III Лицов Леонид
              </p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/awards/com_3.webp'%}">
                <figcaption>
              <h3>Конкурс проектов<br><span>30.04.22</span></h3>
              <p>Дипломом I степени всероссийского конкурса по робототехнике и конструированию 
                за работу "Автоматическая система ухаживания за растениями" был награжден наш ученик - Ранэль</p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/awards/com_5.webp'%}">
                <figcaption>
              <h3>Конкурс проектов<br><span>6.05.22</span></h3>
              <p>Еще один сертификат за участие в конкурсе от Знания со знаком плюс</p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/awards/com_4.webp'%}">
                <figcaption>
              <h3>Соревнования<br><span>21.05.22</span></h3>
              <p>Школьные соревнования по Scratch</p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/awards/com_6.webp'%}">
                <figcaption>
              <h3>Конкурс<br><span>22.06.22</span></h3>
              <p>Конкурс детского рисунка по теме возобновляемых источников энергии от Ассоциации ВИЭ в России(международный уровень)</p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/awards/public_2.webp'%}">
                <figcaption>
              <h3>Конференция<br><span>24.08.22</span></h3>
              <p>августовская педагогическая выставка 2022 в Технологическом лицее «Алгоритм»(ЖК Куюки)</p>
                </figcaption>			
            </figure>
          </div>

    </div>
</div>


  {% endblock content %}