{% extends "layout/basic.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
  href="{% static 'app_1/kind_of_studing.css'%}">
  <script src="{% static 'app_1/js/kind_of_studing.js' %}"></script>
{% endblock %}


{% block content %}

  <div id="container">
    <div id="stroka">
        <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/kind_of_studing/1.webp'%}">
                <figcaption>
              <h3>Робототехника <span>VEX</span></h3>
              <p>Конструктор VEX от компании VEX Robotics - робототехнический набор, включающий в себя
                 контроллер, датчики, каркас робота и т.д. С помощью него учащиеся могут не только собрать
                робота, управляемого с компьютера или джойстика, по инструкции, но и воплотить свои идеи в жизнь</p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/kind_of_studing/2.webp'%}">
                <figcaption>
              <h3>робототехника <span>Lego</span></h3>
              <p>Занятия проводятся с использованием конструктора от <strong>Lego серии Education</strong>. Серия Education - это отличный старт в робототехнике. 
                В наборе есть все для того, чтобы понять основы физики 
              </p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/kind_of_studing/5.webp'%}">
                <figcaption>
              <h3><span>Python</span></h3>
              <p>В мире цифровых технологии людям необходимо знать не только родной язык, но и язык программирования.
                Одним из самых популярных языков является <strong>Python</strong>. Его используют практически все - аналитики данных, разработчики Web-ресурсов,
                программисты чат-ботов, создатели 2D-игр и десктопных приложений и т.д.
              </p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/kind_of_studing/3.webp'%}">
                <figcaption>
              <h3><span>Web-</span>разработка</h3>
              <p>Сегодня Интернетом пользуются почти все. Сервисы Youtube, Instagram, Ozon уже стали частью жизни миллионов людей.
                Создание веб-сервисов сегодня становится актуальным, как никогда раньше.
                На наших курсах мы обучаем созданию веб-сервисов с нуля. На уроках
                учащиеся узнают о том, как создать дизайны сайтов, как организовывать их логику, как привязывать к ним базы данных и многое другое</p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/kind_of_studing/4.webp'%}">
                <figcaption>
              <h3><span>Unity 3D</span></h3>
              <p>Создавать 3D-анимацию и игры легко! Ососбенно просто это делать с использованием игрового движка <strong>Unity</strong>.
                
              </p>
                </figcaption>			
            </figure>
          </div>
          <div class="hover-text-one">
            <figure class="effect-text-two">
                <img class="photo-in-page" src="{% static 'app_1/pictures/kind_of_studing/6.webp'%}">
                <figcaption>
              <h3><span>Scratch</span></h3>
              <p>Для того чтобы создавать сложную впечатляющую анимацию нужно иметь хороший background в этом деле. 
                <strong>Scratch</strong> - замечательная возможность для детей начать свой путь в программировании игр и анимаций.
                Благодаря интуитивно понятному интерфейсу и большим возможностям программного комплекса реализация проекта становится увлекательной
                и интересной</p>
                </figcaption>			
            </figure>
          </div>
    </div>
</div>


<div>
  <h4 class="_2Jzp1 _2A_oF _3AZQf">Программа робототехники</h4>
</div>
  

  <div class="timeline">
    <ul>
      <li>
        <span>I год обучения (I полугодие)</span>
        <div class="content">
          <h3>Направление: LEGO Education</h3>
          <p>
            Первое полугодие I года обучения посвящено изучению основ физики с использование конструктора
            LEGO Education. Этот период является основным, поскольку здесь закладывается background для дальнейшего развития в направлении робототехники
          </p>
        </div>
      </li>
      <li>
        <span>I год обучения (II полугодие)</span>
        <div class="content">
          <h3>Направление: Программирование Scratch</h3>
          <p>
            Во втором полугодии I года обучения начинается знакомство с программным продуктом Scratch,
             разработанным в американском университете MIT . 
            Ребята приобретают начальные навыки программирования
          </p>
        </div>
      </li>
      <li>
        <span>II год обучения (I полугодие)</span>
        <div class="content">
          <h3>Направление: Программирование Scratch</h3>
          <p>
            В первом полугодии второго года обучения ребята начинают применять на практике знания программирования на Scratch,
             участвуя в разработке сложных анимаций и игр
          </p>
        </div>
      </li>
      <li>
        <span>II год обучения (II полугодие)</span>
        <div class="content">
          <h3>Направление: робототехника VEX</h3>
          <p>
            Во втором полугодии второго года обучения ребята начинают знакомство 
            с основами робототехники с использование конструкторов VEX.
            Здесь детям пригодятся знания основ физики и программирования на Scratch, полученные в ходе первого года обучения
          </p>
        </div>
      </li>
      <li>
        <span>III год обучения (I полугодие)</span>
        <div class="content">
          <h3>Направление: робототехника VEX</h3>
          <p>
            Весь третий год обучения посвящен робототехнике с применением конструкторов VEX.
            Знакомство с основами программирования контроллеров VEX
          </p>
        </div>
      </li>
      <li>
        <span>III год обучения (II полугодие)</span>
        <div class="content">
          <h3>Направление: робототехника VEX</h3>
          <p>
            Применение знаний на практике участие в разработке собственных проектов, а также республиканских и российских тематических конкурсах
          </p>
        </div>
      </li>
      <li>
        <span>IV год обучения (I полугодие)</span>
        <div class="content">
          <h3>Направление: 3D-моделирование Blender</h3>
          <p>
            Знакомство с 3D-моделированием и программным комплексом Blender
          </p>
        </div>
      </li>
      <li>
        <span>IV год обучения (II полугодие)</span>
        <div class="content">
          <h3>Направление: Unity 3D</h3>
          <p>
            Знакомство c платформой разработки Unity 3D
          </p>
        </div>
      </li>
    </ul>
  </div>

  {% endblock content %}