@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, html,body{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}
body{
  width:100%;
  min-height:100vh;
  text-align: -webkit-center;
  justify-content:center;
  align-items:center;
}

.navbar-collapse {
	text-align: initial;	
}

.timeline{
  width:800px;
  background-color:white;
  color:#fff;
  padding:30px 20px;
  /* box-shadow:0px 0px 10px rgba(0,0,0,.5); */
  text-align: -webkit-left;
}
.timeline ul{
  list-style-type:none;
  border-left:2px solid #b538f3;
  padding:10px 5px;
}
.timeline ul li{
  padding:20px 20px;
  position:relative;
  cursor:pointer;
  transition:.5s;
}
.timeline ul li span{
  display:inline-block;
  background-color:#d2bef9;
  border-radius:25px;
  padding:2px 5px;
  font-size:15px;
  text-align:center;
}
.timeline ul li .content h3{
  color:#f66d52;
  font-size:17px;
  padding-top:5px;
}
.timeline ul li .content p{
  padding:5px 0px 15px 0px;
  font-size:15px;
  color:#aa82f9;
}
.timeline ul li:before{
  position:absolute;
  content:'';
  width:10px;
  height:10px;
  background-color:#d2bef9;
  border-radius:50%;
  left:-11px;
  top:28px;
  transition:.5s;
}
.timeline ul li:hover{
  background-color:beige;
}
.timeline ul li:hover:before{
  background-color:rgb(255, 187, 0);
  box-shadow:0px 0px 10px 2px rgb(255, 234, 0);
}

.photo-in-page {
	width: 500px;
	height: 500px;
	border: outset #e9e9e9;
	border-radius: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
	display: inline;
	
}

#stroka {
	text-align: -webkit-center;
	margin: 10% 0% 10% 0%;
	align-items: center;
}



/* Общие стили */
*, *:after, *:before { 
	box-sizing: border-box; 
}

.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
	display: contents;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #d2bef9;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: inline;
	min-height: 100%;
	opacity: 0.85;
}
.hover-text-one figure figcaption {
	padding: 2em;
	
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */


figure.effect-text-two figcaption::before {
	position: absolute;
	border: outset white 5px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(4, 4, 4, 0) 0%, rgba(4, 4, 4, 0.8) 5%);
	background: linear-gradient(to bottom, rgba(4, 4, 4, 0) 0%, rgba(0, 0, 0, 0.8) 45%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}
figure.effect-text-two h3 {
	position: absolute;
	top: 90%;
	width: 80%;
	background-color: beige;
	color: #f66d52 !important;
	-webkit-transition: -webkit-transform 0.45s, color 0.45s;
	transition: transform 0.65s, color 0.65s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}
figure.effect-text-two figcaption::before,
figure.effect-text-two p {
	-webkit-transition: opacity 0.85s, -webkit-transform 0.85s;
	transition: opacity 0.95s, transform 0.95s;
}
figure.effect-text-two p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
figure.effect-text-two:hover h3 {
	color: #fff;
	-webkit-transform: translate3d(0,-90%,0) translate3d(0,-120px,0);
	transform: translate3d(0,-90%,0) translate3d(0,-200px,0);
}
figure.effect-text-two:hover figcaption::before ,
figure.effect-text-two:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

._2Jzp1 {
	font-weight: 700;
	margin-bottom: 20px;
	margin-top: 58px;
	font-size: 4vw;
	margin-left: 1%;
  }
  

@media (max-width:785px){
  .timeline{
    width:100%;
    padding:30px 5px 30px 10px;
  }
  .timeline ul li .content h3{
    color:#34ace0;
    font-size:15px;
  }

  .photo-in-page {
	width: 350px;
	height: 350px;
  }

.hover-text-one figure p {
    letter-spacing: 1px;
    font-size: 55.5%;
}

}